<header></header>
<div class="content">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="First"><img src="../assets/step1.png"><b>Click "Yes" to join room</b></mat-tab>
      <mat-tab label="Second"><img src="../assets/step2.png"><b>Press the "CTRL + SPACE" hotkey to display the app</b></mat-tab>
      <mat-tab label="Third"><img src="../assets/step3.png"><b>Click on summoner spell to start cooldown</b></mat-tab>
    </mat-tab-group>
  </mat-card>

  <mat-card>
    <mat-card-title>Legal Information</mat-card-title>
   <mat-card-content>
     "We Count" isn't endorsed by Riot Games and
     doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
     League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
     <h6>b963639c-b0af-4e46-89d9-57e8461bd07fng</h6>
   </mat-card-content>
  </mat-card>

</div>

