.content {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 95%;
  padding: 20px;
  margin: 25px auto;
  mat-card {
    width: 50%;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }


}
